.image-gallery {
    // transition: all .6s;
    display: flex;
    flex-direction: column;
}

// tablets and desktops
@media screen and (min-width: 800px) {
  .image-gallery {
    flex-direction: row;
  }
}