.image-scroller {
    border: 3px solid pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    // overflow-y: hidden;
    max-width: 100%;
    margin-left: .5em;

    img {
      max-width: 20em;
      max-height: 100px;
    }
}


@media screen and (min-width: 800px) {
  .image-scroller {
    flex-direction: column;

    img {
      width: 20em;
      height: 135px;
      margin-left: .15em;
      object-fit: cover;  
    }
  }
}
