@import 'reset'; 
@import 'gallery';
@import 'galleryImage';
@import 'thumbnails';

body {
    font-family: Helvetica, Arial, Sans-Serif, sans-serif;
    background: rgb(56, 56, 56);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
}

// .title {
//     display: flex;
//     margin: 0 0 10px 0;
// }

// .image-gallery {
//     transition: all 2s;
//     padding: 20px;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content: space-around;
//     border: 6px solid orange;
// }

// .gallery-image {
//     // align-items: flex-end;
//     flex-basis: 80%;
//     width: 700px;
//     max-height: 700px;
//     align-items: center;
//     overflow: hidden;
//     border: 9px solid red;
//     max-width: 100%;

//     .selected-image {
//       border: 3px solid rgb(0, 255, 55);
//       position: relative;
         
//         img {
//           width: 100%;
//           min-height: 100%;
//           border: 7px solid purple;
//         }
//     }  
// }

// .img-info {
//         z-index: 10; 
//         position: absolute;
//         bottom: 0;
//         height: 70px;
//         padding: 30px;
//         width: 100%;
//         padding: 15px;
//         background: rgba(0, 0, 0, .3);
//         color: #fff;
//         text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
//     }

// .image-scroller {
//     border: 7px solid pink;
//     display: flex;
//     justify-content: space-around;
//     overflow: auto;
//     overflow-y: hidden;
//     justify-content: space-around;
//     max-width: 100%;
// }

// .image-scroller img {
//     width: 100px;
//     height: auto;
//     border: 1px solid white;
// }

// /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
// @media screen and (min-width: 800px) {
//   .image-gallery {
//     flex-direction: row;
//   }
//   .image-scroller {
//     flex-direction: column;
//     justify-content: space-around;
//     overflow: auto;
//     overflow-y: hidden;
//     }
//     .image-scroller img {
//     width: 200px;
//     height: 100px;
//     object-fit: cover;  
//     }
// }
